# -------------------------
# Python virtual environment
# -------------------------
venv/
.env/
.env
.env*
# -------------------------
# Python cache files
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Pytest cache
# -------------------------
.pytest_cache/

# -------------------------
# VS Code / IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# OS-specific files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Database files (if using SQLite locally)
# -------------------------
*.sqlite3
